  <template is="dom-repeat" items="{{resourceScreens}}" as=screen>
    <things-resource-content 
      data-route="[[screen.routing]]"
      title="[[screen.title]]"
      current-route="[[route]]"
      resource-type="[[screen.name]]"
      resource-url="[[screen.routing]]"
      detail-view="[[screen.detail_form_id]]"
      layout="fullbleed layout vertical"
      enable-detail-column>
    </things-resource-content>
  </template>

  <template is="dom-repeat" items="{{diyScreens}}" as=screen>
    <things-diy-content 
      layout="fullbleed layout vertical"
      data-route="{{screen.routing}}"
      current-route="[[route]]"
      menu-id="{{screen.id}}"
      resource-url="[[screen.routing]]">
      </things-diy-content>
  </template>